/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
.home .hero img {
  max-width: 450px !important;
}

get, post, patch, delete, put, any {
  display: inline-block;
  border-radius: 6px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 5px;
  color: white;
  margin: 0 4px;
  background-color: lightgrey;
  text-shadow: 0 1px 0 #0000001a;
}

get {
  background-color: #61affe;
}

get::after {
  content: 'get';
}

post {
  background-color: #49cc90;
}

post::after {
  content: 'post';
}

patch {
  background-color: #eaea00;
}

patch::after {
  content: 'patch';
}

delete {
  background-color: #f93e3e;
}

delete::after {
  content: 'delete';
}

put {
  background-color: #fca130;
}

put::after {
  content: 'put';
}

any {
  background-color: #8a8a8a;
}

any::after {
  content: 'any';
}